html {direction: rtl;
}
body {direction: rtl;unicode-bidi: embed;
}
h1 .sorting, .listings h2 span, #listing-card-list li h4 span, .alert_delete h3 a, .sort, .publish, .top_links ul, .language, .listings ul li span {float: left;
}
div#me, div#mes, h2#anita{
  float: right;
}
input.cekk, .cekk{float:right;margin-right:6px;
}
span.price {
  float: left;
  font-weight: bold;
}
.col-item .price {
  text-align: right;
}
button.mami.btn.btn-default {
  margin-right: 3px;
}
#clickme, #clickmes{
    float:left;
    padding-left:10px;
    padding-right:10px; 
    padding-top:20px;
}
.category span {
    float: left;
}
.categories a span {
    float: left;
}
.share.ulfa {
  width: 100%;
  float: right;
}
.cat-label {
  right: inherit;
  left: 20px;
}
.pgwSlider .ps-current {
  float: right;
}
.col-md-9.nita.kananku {
  float: left;
}
.iconbox-wrap-content {
  text-align: right;
}
.navbar-nav>li.postadd {
padding-left: inherit;
  margin-left: inherit;
  border-left: inherit;
  padding-right: 25px;
  margin-right: 5px;
  border-right: solid 1px #ddd;
}
.col-md-3.nita.kiris {
  float: right;
}
.navbar-nav>li {
  float: right;
}
.navbar-toggle {
    margin-right: inherit;
    margin-left: 15px;
}
.khanisa {
  text-align: right;
}
.welcome-message, #logo, .links, .counter-search, .sorting {float: right;
}
.magnifyarea > div {
  direction: ltr;
}
#owl-demo, #owl-demo1, #owl-demo7, #owl-demo45 {
  direction: ltr;
}
/*----------------------------------------------------
           {--------}  new css  {--------}
----------------------------------------------------*/
.cd-top {
    left: 10px;
    right: inherit;
}
.pull-left {
    float: right !important;
}
.pull-right {
    float: left !important;
}
.item.list-group-item img, .kiri, .paginate li, .ad-thumbs .ad-thumb-list, .ad-thumbs li, .user_account #sidebar, .user_account #main, .bars, .refine li, .list .user_type .firm, .list .user_type .personal, .user_type, .list .user_type .all {
    float: right;
}
.list .user_type .search_num {
    float: left;
}
.item .aribudin {
    text-align: right;
}
.col-item .aribudin {
    text-align: right;
}
.navbar-nav {
  float: right;
}
.caret {
    margin-right: 3px;
    margin-left: inherit;
}
.navbar-collapse .dropdown-menu.aritop {
    left: 0px;
    right: auto;
}
.radio label, .checkbox label {
    float: right;
    padding-right: 20px;
}
input#remember {
    margin-right: -20px;
}
@media (min-width: 768px) {
.navbar-nav > li {
    float: right;
}
}
@media (max-width: 767px){
.iconbox-wrap-icon {
    display: block;
    float: right;
}
.iconbox-wrap-content {
    display: block;
    float: right;
    padding-right: 10px;
}
}
/*----------------------------------------------------
           {--------}  end new {--------}
----------------------------------------------------*/
.navbar-nav {
  float: right;
  
}
.dropdown-menu>li>a, .mega-dropdown-menu .dropdown-header, .mega-dropdown-menu > li > ul > li > a {
  text-align: right;
}
#bs-example-navbar-collapse-1 ul{float:right;
}
.navbar-right {
  float: left !important;
}
.icon-box {
  text-align: right;
}
.info-box div {
  text-align: right;
}
#footer #footer-copyright .links {
  float: left;
  margin-top: 0;
}
#footer #footer-copyright .copyright {
  float: right;
}
#footer #footer-main .info-box a {
  text-align: right;
}
#footer #footer-main .title {
  text-align: right;
}
.navbar-collapse .dropdown-menu {
  left: auto;
  right: 0;
}
#register-login-block-top {
  float: right;
}
.top-social-icons {
  float: left;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.right {
  float: left;
}
.show-all-ads {
  float: left;
  margin-top: -15px;
  padding-bottom: 10px;
}
input#remember {
  margin-right: 50px;
}
.right {
  float: left;
}
.navbar-toggle {
  position: relative;
  float: left;
}
.nav-tabs > li {
  float: right;
}
.item.list-group-item img {
  float: right;
}
.item.list-group-item .caption{
  text-align: right;
}
#type_dates {
  margin-top: 10px;
  float: right;
}
.language {margin: 0 10px 0 0;
}
#logo {margin: 2px 0 0 40px;
}
.sorting {margin: 0 0 0 20px;
}
div.fancy-select div.trigger:after {right: inherit;left: 10px;
}
#footer li::after{ left:-3px;}
.see_more_link{ text-align:left;}
.flashmessage-info, .flashmessage-ok{ text-align:right;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: right;
}
.col-xs-12 {width: 100%;
}
.col-xs-11 {width: 91.66666667%;
}
.col-xs-10 {width: 83.33333333%;
}
.col-xs-9 {width: 75%;
}
.col-xs-8 {width: 66.66666667%;
}
.col-xs-7 {width: 58.33333333%;
}
.col-xs-5 {width: 41.66666667%;
}
.col-xs-4 {width: 33.33333333%;
}
.col-xs-3 {width: 25%;
}
.col-xs-2 {width: 16.66666667%;
}
.col-xs-1 {width: 8.33333333%;
}
.col-xs-pull-12 {left: 100%;right: auto;
}
.col-xs-pull-11 {left: 91.66666667%;right: auto;
}
.col-xs-pull-10 {left: 83.33333333%;right: auto;
}
.col-xs-pull-9 {left: 75%;right: auto;
}
.col-xs-pull-8 {left: 66.66666667%;right: auto;
}
.col-xs-pull-7 {left: 58.33333333%;right: auto;
}
.col-xs-pull-6 {left: 50%;right: auto;
}
.col-xs-pull-5 {left: 41.66666667%;right: auto;
}
.col-xs-pull-4 {left: 33.33333333%;right: auto;
}
.col-xs-pull-3 {left: 25%;right: auto;
}
.col-xs-pull-2 {left: 16.66666667%;right: auto;
}
.col-xs-pull-1 {left: 8.33333333%;right: auto;
}
.col-xs-pull-0 {left: auto;right: auto;
}
.col-xs-push-12 {right: 100%;left: 0;
}
.col-xs-push-11 {right: 91.66666667%;left: 0;
}
.col-xs-push-10 {right: 83.33333333%;left: 0;
}
.col-xs-push-9 {right: 75%;left: 0;
}
.col-xs-push-8 {right: 66.66666667%;left: 0;
}
.col-xs-push-7 {right: 58.33333333%;left: 0;
}
.col-xs-push-6 {right: 50%;left: 0;
}
.col-xs-push-5 {right: 41.66666667%;left: 0;
}
.col-xs-push-4 {right: 33.33333333%;left: 0;
}
.col-xs-push-3 {right: 25%;left: 0;
}
.col-xs-push-2 {right: 16.66666667%;left: 0;
}
.col-xs-push-1 {right: 8.33333333%;left: 0;
}
.col-xs-push-0 {right: auto;left: 0;
}
.col-xs-offset-12 {margin-right: 100%;margin-left: 0;
}
.col-xs-offset-11 {margin-right: 91.66666667%;margin-left: 0;
}
.col-xs-offset-10 {margin-right: 83.33333333%;margin-left: 0;
}
.col-xs-offset-9 {margin-right: 75%;margin-left: 0;
}
.col-xs-offset-8 {margin-right: 66.66666667%;margin-left: 0;
}
.col-xs-offset-7 {margin-right: 58.33333333%;margin-left: 0;
}
.col-xs-offset-6 {margin-right: 50%;margin-left: 0;
}
.col-xs-offset-5 {margin-right: 41.66666667%;margin-left: 0;
}
.col-xs-offset-4 {margin-right: 33.33333333%;margin-left: 0;
}
.col-xs-offset-3 {margin-right: 25%;margin-left: 0;
}
.col-xs-offset-2 {margin-right: 16.66666667%;margin-left: 0;
}
.col-xs-offset-1 {margin-right: 8.33333333%;margin-left: 0;
}
.col-xs-offset-0 {margin-right: 0%;margin-left: 0;
}
@media (min-width: 768px) {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: right;
}
.col-sm-12 {width: 100%;
}
.col-sm-11 {width: 91.66666667%;
}
.col-sm-10 {width: 83.33333333%;
}
.col-sm-9 {width: 75%;
}
.col-sm-8 {width: 66.66666667%;
}
.col-sm-7 {width: 58.33333333%;
}
.col-sm-6 {width: 50%;
}
.col-sm-5 {width: 41.66666667%;
}
.col-sm-4 {width: 33.33333333%;
}
.col-sm-3 {width: 25%;
}
.col-sm-2 {width: 16.66666667%;
}
.col-sm-1 {width: 8.33333333%;
}
.col-sm-pull-12 {left: 100%;right: auto;
}
.col-sm-pull-11 {left: 91.66666667%;right: auto;
}
.col-sm-pull-10 {left: 83.33333333%;right: auto;
}
.col-sm-pull-9 {left: 75%;right: auto;
}
.col-sm-pull-8 {left: 66.66666667%;right: auto;
}
.col-sm-pull-7 {left: 58.33333333%;right: auto;
}
.col-sm-pull-6 {left: 50%;right: auto;
}
.col-sm-pull-5 {left: 41.66666667%;right: auto;
}
.col-sm-pull-4 {left: 33.33333333%;right: auto;
}
.col-sm-pull-3 {left: 25%;right: auto;
}
.col-sm-pull-2 {left: 16.66666667%;right: auto;
}
.col-sm-pull-1 {left: 8.33333333%;right: auto;
}
.col-sm-pull-0 {left: auto;right: auto;
}
.col-sm-push-12 {right: 100%;left: 0;
}
.col-sm-push-11 {right: 91.66666667%;left: 0;
}
.col-sm-push-10 {right: 83.33333333%;left: 0;
}
.col-sm-push-9 {right: 75%;left: 0;
}
.col-sm-push-8 {right: 66.66666667%;left: 0;
}
.col-sm-push-7 {right: 58.33333333%;left: 0;
}
.col-sm-push-6 {right: 50%;left: 0;
}
.col-sm-push-5 {right: 41.66666667%;left: 0;
}
.col-sm-push-4 {right: 33.33333333%;left: 0;
}
.col-sm-push-3 {right: 25%;left: 0;
}
.col-sm-push-2 {right: 16.66666667%;left: 0;
}
.col-sm-push-1 {right: 8.33333333%;left: 0;
}
.col-sm-push-0 {right: auto;left: 0;
}
.col-sm-offset-12 {margin-right: 100%;margin-left: 0;
}
.col-sm-offset-11 {margin-right: 91.66666667%;margin-left: 0;
}
.col-sm-offset-10 {margin-right: 83.33333333%;margin-left: 0;
}
.col-sm-offset-9 {margin-right: 75%;margin-left: 0;
}
.col-sm-offset-8 {margin-right: 66.66666667%;margin-left: 0;
}
.col-sm-offset-7 {margin-right: 58.33333333%;margin-left: 0;
}
.col-sm-offset-6 {margin-right: 50%;margin-left: 0;
}
.col-sm-offset-5 {margin-right: 41.66666667%;margin-left: 0;
}
.col-sm-offset-4 {margin-right: 33.33333333%;margin-left: 0;
}
.col-sm-offset-3 {margin-right: 25%;margin-left: 0;
}
.col-sm-offset-2 {margin-right: 16.66666667%;margin-left: 0;
}
.col-sm-offset-1 {margin-right: 8.33333333%;margin-left: 0;
}
.col-sm-offset-0 {margin-right: 0%;margin-left: 0;
}
}
@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: right;
}
.col-md-12 {width: 100%;
}
.col-md-11 {width: 91.66666667%;
}
.col-md-10 {width: 83.33333333%;
}
.col-md-9 {width: 75%;
}
.col-md-8 {width: 66.66666667%;
}
.col-md-7 {width: 58.33333333%;
}
.col-md-6 {width: 50%;
}
.col-md-5 {width: 41.66666667%;
}
.col-md-4 {width: 33.33333333%;
}
.col-md-3 {width: 25%;
}
.col-md-2 {width: 16.66666667%;
}
.col-md-1 {width: 8.33333333%;
}
.col-md-pull-12 {left: 100%;right: auto;
}
.col-md-pull-11 {left: 91.66666667%;right: auto;
}
.col-md-pull-10 {left: 83.33333333%;right: auto;
}
.col-md-pull-9 {left: 75%;right: auto;
}
.col-md-pull-8 {left: 66.66666667%;right: auto;
}
.col-md-pull-7 {left: 58.33333333%;right: auto;
}
.col-md-pull-6 {left: 50%;right: auto;
}
.col-md-pull-5 {left: 41.66666667%;right: auto;
}
.col-md-pull-4 {left: 33.33333333%;right: auto;
}
.col-md-pull-3 {left: 25%;right: auto;
}
.col-md-pull-2 {left: 16.66666667%;right: auto;
}
.col-md-pull-1 {left: 8.33333333%;right: auto;
}
.col-md-pull-0 {left: auto;right: auto;
}
.col-md-push-12 {right: 100%;left: 0;
}
.col-md-push-11 {right: 91.66666667%;left: 0;
}
.col-md-push-10 {right: 83.33333333%;left: 0;
}
.col-md-push-9 {right: 75%;left: 0;
}
.col-md-push-8 {right: 66.66666667%;left: 0;
}
.col-md-push-7 {right: 58.33333333%;left: 0;
}
.col-md-push-6 {right: 50%;left: 0;
}
.col-md-push-5 {right: 41.66666667%;left: 0;
}
.col-md-push-4 {right: 33.33333333%;left: 0;
}
.col-md-push-3 {right: 25%;left: 0;
}
.col-md-push-2 {right: 16.66666667%;left: 0;
}
.col-md-push-1 {right: 8.33333333%;left: 0;
}
.col-md-push-0 {right: auto;left: 0;
}
.col-md-offset-12 {margin-right: 100%;margin-left: 0;
}
.col-md-offset-11 {margin-right: 91.66666667%;margin-left: 0;
}
.col-md-offset-10 {margin-right: 83.33333333%;margin-left: 0;
}
.col-md-offset-9 {margin-right: 75%;margin-left: 0;
}
.col-md-offset-8 {margin-right: 66.66666667%;margin-left: 0;
}
.col-md-offset-7 {margin-right: 58.33333333%;margin-left: 0;
}
.col-md-offset-6 {margin-right: 50%;margin-left: 0;
}
.col-md-offset-5 {margin-right: 41.66666667%;margin-left: 0;
}
.col-md-offset-4 {margin-right: 33.33333333%;margin-left: 0;
}
.col-md-offset-3 {margin-right: 25%;margin-left: 0;
}
.col-md-offset-2 {margin-right: 16.66666667%;margin-left: 0;
}
.col-md-offset-1 {margin-right: 8.33333333%;margin-left: 0;
}
.col-md-offset-0 {margin-right: 0%;margin-left: 0;
}
}
caption {text-align: right;
}
th {text-align: right;
}
.pull-right{ float:left!important;}

@media (min-width: 768px) {
.navbar-header {
  float: right;
}
.form-horizontal .control-label {text-align: left;
}
}
@media (max-width: 768px) {
.logo {
  float: right;
}
#bs-example-navbar-collapse-1 ul {
  text-align: right;
}
.navbar-right {
  width: 100%;
}
}