/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
    display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}

.tabberlive {
    margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
    margin:0;
    padding: 3px 0;
    border-bottom: 1px solid #DFDFDF;
}
input[type="text"] {
  width: 100%;
}
.qq-upload-button {
  width: 100%;
}
div#plugin-hook h2 {
  padding-bottom: 15px;
  margin: 10px auto;
  margin-left: -15px;
}
ul.tabbernav li
{
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tabbernav li a
{
    padding: 3px 0.5em;
    margin-left: 3px;
    border:1px solid #DFDFDF;
    border-bottom: none;
    background: #F1F1F1;
    text-decoration: none;
    color:#999999;
}

/*
ul.tabbernav li a:link { color: #D54E21; }
ul.tabbernav li a:visited { color: #D54E21; }
*/

ul.tabbernav li a:hover
{
    color: #D54E21;
}

/**/
ul.tabbernav li.tabberactive a
{
    color: #333333;
    background-color: #E3EEF7;
    border-bottom: 1px solid #E3EEF7;
}

/**/
ul.tabbernav li.tabberactive a:hover
{
    color: #333333;
    background: #E3EEF7;
    border-bottom: 1px solid #E3EEF7;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
    padding:10px;
    
    border-top:0;
    

    /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

    /* height:200px; */

    /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

    /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
    display:none;
}
.tabberlive .tabbertab h3 {
    display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
    height:200px;
    overflow:auto;
}
/*

testing
*/

ul.adstag li{float:left;color:#AAA;padding:0 10px 0 0;font-size:12px}
.ico{}
.tag,.tag-sewa,.tag-cari,.tag-jasa{background-position:0 -150px;width:42px;height:20px;color:#FFF;margin:-3px 0 0 0;padding:2px 0 0 5px;text-transform:uppercase;font-size:10px;font-weight:bold}
.tag-sewa{background-position:-54px -150px}
.tag-cari{background-position:-120px -264px}
.tag-jasa{background-position:-175px -264px}
.tgl,.loc{background-position:-150px 0;width:15px;height:15px;margin:0 1px 0 0}
.loc{background-position:-150px -15px}
.flag{background-position:-202px -226px;float:left;height:20px;width:20px}
.adsinfo{width:250px;float:right;position:absolute;margin-left:680px}
.fix{position:fixed;top:10px}
.adsarea{width:650px;padding:0 10px 0 10px;border:1px dotted #BBB;border-width:0 1px;margin-bottom:20px}
.harga{
  height: 65px;
  border-radius: 10px;
  background: #E9F5F9;
  }
.harga .price{float:right;min-width:200px;font-size:20px;font-weight:bold;color:#333;margin:23px 30px 0 0;text-shadow:1px 2px 2px rgba(255,255,255,.7)}
.harga .price .rp{font-size:.7em;text-transform:capitalize;color:#666;font-weight:normal;margin-right:6px}
.harga .price .nego{font-size:12px;margin-top:3px;color:#666}

.userphone,.kirimemail,.lihattoko{margin:15px 0;cursor:pointer}
.userphone{margin-top:10px}
.userphone .f11{font-weight:normal;padding-top:8px;margin-left:40px;cursor:pointer}
.userphone{font-size:20px}

.nomorsiji{width:25px;height:38px;margin:-10px 0 0 -16px}
@media only screen and (max-width: 450px) {
.harga{margin-left:inherit;
}
}